<div class="day2">
  <div class="header2">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="day2-title">Day 2</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="sort">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="name">Reason to remember the name</th>
        <th mat-sort-header="percent"><span>%</span></th>
      </tr>

      <tr *ngFor="let grind of sortedData">
        <td>{{ grind.name }}</td>
        <td>{{ grind.percent }}</td>
      </tr>
      <br />
      <div class="instruction">
        "Click the arrow beside the percent sign to use the sort function"
      </div>
    </table>
  </div>
</div>
