<div class="day4">
  <div class="header4">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="day4-title">Day 4</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="cards">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>France</mat-card-title>
        <mat-card-subtitle>Europe</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/images/picture-of-eiffel-tower-338515.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The French Republic is a country consisting of metropolitan France in
          Western Europe and several overseas regions and territories.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canada</mat-card-title>
        <mat-card-subtitle>North America</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/images/woman-draped-in-a-flag-of-canada-2916826.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Canada is a country in the northern part of North America. Its ten
          provinces and three territories extend from the Atlantic to the
          Pacific and northward into the Arctic Ocean.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>United Kingdom</mat-card-title>
        <mat-card-subtitle>Europe</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/images/city-view-at-london-672532.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The United Kingdom of Great Britain and Northern Ireland, commonly
          known as the United Kingdom or Britain is a sovereign country located
          off the north­western coast of the European mainland.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
